/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: white;
}

.loading {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid rgba(4, 161, 25, 0.932);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
