<a class="back-btn" [routerLink]="['/']">Back</a>

<h2>ESB</h2>
<div class="prod">
  <div>Production:</div>
  <ng-container *ngIf="(store.stats | async) as stats">
    <div>Total {{stats.total}}</div>
    <div>Year {{stats.year}}</div>
    <div>Month {{stats.month}}</div>
    <div>Day {{stats.day}}</div>
  </ng-container>

  <ng-container *ngIf="(store.params | async) as params">
    <div>PV {{params.pv.voltage}} V {{params.pv.amp}} A {{params.pv.watt}} W</div>
    <div>ACU {{params.acu.voltage}} V Charging {{params.acu.charging}} A Discharge {{params.acu.discharge}} A</div>
    <div>Load {{params.load}}% SoC {{params.acu.soc}}%</div>
    <div>AC     {{params.ac.voltage}} V {{params.ac.hz}} Hz</div>
    <div>AC out {{params.ac_out.voltage}} V {{params.ac_out.hz}} Hz</div>
    <div>Moc pozorna {{params.power.apparent}} W aktywna {{params.power.active}} W</div>
    <div>Temp {{params.temp}} *C</div>
    <div>V_BUS {{params.v_bus}} V</div>
  </ng-container>

  <div *ngIf="(store.workType | async) as workType">Work type {{workType}}</div>
  <button (click)="store.setSbu()">SBU</button>
  <button (click)="store.setSub()">SUB</button>
</div>

<h3>W tym roku:</h3>
<div class="stats" *ngFor="let month of store.months | async">
  <div>{{month.day}}</div>
  <div>{{month.value}}</div>
  <div *ngIf="month.loading" class="loading"></div>
</div>

<h3>W tym miesiącu:</h3>
<div class="stats" *ngFor="let day of store.days | async">
  <div>{{day.day}}</div>
  <div>{{day.value}}</div>
  <div *ngIf="day.loading" class="loading"></div>
</div>

<app-sockets></app-sockets>
