h2 {
    text-align: center;
    font-size: 40px;
}

a {
    display: block;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(8, 78, 143);
    border: 1px solid lightblue;
    margin: 40px 20%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.back-btn {
  display: block;
  font-size: 20px;
  padding: 20px;
  background-color: rgb(67, 177, 116);
  border: 1px solid lightblue;
  margin: 40px 20%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.offline {
    background-color: red;
}

.prod {
  margin-left: 10px;
  padding-bottom: 100px;
}
